/* Create/Edit an event */
.mainEventsCreate {
    margin-top: -1.5rem;

    .form {
        margin-bottom: 1.5rem;
        padding: 1.5rem;
        background-color: $gray-300;
        border-radius: 1.5rem;

        &__event-infos {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            gap: 1.5rem;
            padding-bottom: 2rem;
            border-bottom: $border;

            label {
                display: block;
                margin-bottom: 0.75rem;
                font-weight: 500;
            }

            input {
                padding: 1rem;
                border-radius: 0.5rem;
                min-width: 250px;
            }

            .error-message {
                margin-bottom: 1.25rem;
            }
        }

        &__container {
            display: flex;
            flex-direction: column;
        }

        &__component {
            padding: 2rem 0 1rem;
            border-bottom: $border;

            .title {
                font-weight: 600;
                margin-bottom: 0.75rem;
            }

            /* Dropdown to select a contact */
            .custom__dropdown {
                position: relative;

                .open-button {
                    margin: 1.5rem 0 1.75rem;
                    padding: 1rem;
                    width: 17.5rem;
                    background-color: white;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                .icon {
                    height: 1.25rem;
                    width: 1.25rem;
                    fill: #718096;
                }

                .open-panel {
                    margin-bottom: 2rem;
                    width: 100%;
                    background-color: white;
                    border-radius: 1rem;

                    .close-button {
                        position: absolute;
                        top: 0.75rem;
                        right: 0.5rem;
                        background-color: #E5E9F4;
                        border-radius: 2rem;
                        padding: 0.5rem;
                    }

                    .add-contact-button {
                        width: 100%;
                        padding: 1rem;
                        border-radius: 0 0 0.75rem 0.75rem;
                    }
                }
            }

            /* Search list filter for contacts */
            .filter__contacts {
                width: 100%;
                background-color: white;
                border-radius: 1rem;
                border: $border;

                &__input {
                    padding: 0.875rem;
                    width: 100%;
                    border-bottom: $border;
                    border-radius: 1rem 1rem 0 0;
                }

                &__list {
                    padding: 0;
                    max-height: 275px;
                    overflow-y: scroll;

                    &__item {
                        position: relative;
                        padding: 1rem;
                        display: flex;
                        flex-direction: column;
                        gap: 0.5rem;
                        border-bottom: $border;

                        .name {
                            font-weight: 500;
                        }

                        .projectTasks {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            gap: 0 1rem;

                            .taskName:before {
                                content: "|";
                                margin-right: 0.25rem;
                            }

                            .taskName:first-of-type:before {
                                content: "";
                                margin-right: 0;
                            }
                        }

                        button {
                            position: absolute;
                            padding: 0.75rem;
                            top: 0.25rem;
                            right: 0.5rem;
                            color: $blue;
                            text-decoration: underline;
                        }
                    }
                }

                .no-contact {
                    margin: 0;
                    padding: 1rem 0.75rem 1rem 1.5rem;
                    background-color: white;
                    border-radius: 0;
                    border: none;
                }
            }

            /* Form to create a new contact */
            .contact__new__form {
                padding: 1.5rem;
                background-color: $gray-500;
                border-radius: 0 0 1rem 1rem;

                p {
                    margin-bottom: 1.5rem;
                    font-weight: 500;
                    color: $blue;
                    text-decoration: underline;
                }

                &__container {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;

                    &__label {
                        display: flex;
                        flex-direction: column;
                        font-weight: 500;

                        select {
                            margin-top: 0.75rem;
                            margin-bottom: 1.25rem;
                            padding: 0.875rem;
                            background-color: white;
                            font-weight: 400;
                        }
                    }

                    input {
                        margin-top: 0.875rem;
                        margin-bottom: 1.25rem;
                        padding: 0.875rem 0.75rem;
                        background-color: white;
                        min-width: 200px;
                    }

                    .position-right {
                        display: flex;
                        flex-direction: column;
                        grid-column: 2/3;

                        label {
                            font-weight: 500;
                        }
                    }

                    button {
                        margin-top: 0.5rem;
                        padding: 0.75rem 1.5rem;
                        border-radius: 0.5rem;
                        background-color: transparent;
                        text-decoration: underline;
                    }

                    button + button {
                        &:hover {
                            background-color: $gray-bg;
                        }

                        text-decoration: none;
                        background-color: white;
                    }

                    .error-message {
                        margin: -0.75rem 0 1.5rem 0.5rem;
                    }

                    .success-message {
                        grid-column: 1/3;

                        p {
                            margin: 2rem 0 0;
                            padding: 1rem;
                            font-weight: 500;
                            text-align: center;
                            color: green;
                            border-radius: 0.5rem;
                            text-decoration: none;
                            background-color: white;
                        }
                    }

                    .project-name, .project-task {
                        label {
                            display: inline-block;
                        }

                        input {
                            margin-bottom: 0.5rem;
                        }
                    }

                    .project-tasks {
                        margin-top: 0.875rem;
                        grid-column: 1/3;

                        select {
                            display: block;
                            margin-top: 0.875rem;
                            margin-bottom: 1rem;
                            padding: 0.875rem;
                            background-color: white;
                        }
                    }

                    .save, .cancel {
                        margin-top: 0;
                    }
                }
            }

            /* List of the contacts added to the event */
            &__added {
                p {
                    margin-bottom: 1rem;
                }

                ul {
                    li {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 1.15rem;
                        color: $text-slate-500;

                        .category {
                            display: block;
                            padding: 0.75rem 1.25rem;
                            background-color: $gray-500;
                            border-radius: 0.5rem 0.5rem 0 0;
                            z-index: 2;
                            text-transform: capitalize;
                            font-weight: 500;
                        }

                        .username {
                            padding: 0.75rem 1.25rem;
                            background-color: white;
                            border-radius: 0 0 0.5rem 0.5rem;
                            color: $blue-dark;

                            .taskName:before {
                                content: "|";
                                margin-right: 0.25rem;
                            }

                            .taskName:first-of-type:before {
                                content: "";
                                margin-right: 0;
                            }
                        }

                        button {
                            position: absolute;
                            top: 0.25rem;
                            right: 0.5rem;
                            padding: 0.5rem;
                            z-index: 3;
                        }
                    }
                }
            }

            .no-contact {
                margin: 0.5rem 0;
                padding: 1rem 1.25rem;
                border-radius: 0.5rem;
                background-color: $gray-500;
            }
        }
    }

    &__component:last-of-type {
        margin-bottom: 1.5rem;
    }

    /* Final buttons in the form */
    .form__submit {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem 2rem;

        .button {
            padding: 1rem 5.5rem;
            width: 100%;
            font-weight: 500;
            text-align: center;
            border-radius: 0.5rem;
            background-color: white;
        }

        .button--blue {
            background-color: $gray-700;
        }
    }
}

@media (min-width: 550px) {
    .mainEventsCreate {
        .form {
            &__component {
                padding: 2rem 0.5rem 1rem;

                /* Form to create a new contact */
                .contact__new__form {
                    &__container {
                        display: grid;
                        padding: 0.5rem 1rem 0.5rem 0.5rem;

                        &__label, .position-right {
                            grid-column: 1/3;
                        }

                        .position-right:last-of-type {
                            border-bottom: 1px solid #dbe2ed;
                        }

                        .save, .cancel {
                            display: inline-block;
                            margin: 0.75rem 0 -0.5rem;
                        }
                    }
                }

                /* List of the contacts added to the event */
                &__added {
                    ul {
                        li {
                            display: flex;
                            flex-direction: row;

                            .category {
                                display: inline-flex;
                                padding: 1.15rem 1.25rem;
                                border-radius: 0.5rem;
                                min-width: 150px;
                            }

                            .username {
                                width: 100%;
                                margin-left: -1rem;
                                padding: 1.15rem 2.75rem 1.15rem 2.5rem;
                                border-radius: 0.5rem;
                            }
                        }
                    }
                }
            }

            .form__submit {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: space-between;

                .button {
                    padding: 1rem 4.5rem;
                    width: fit-content;
                }
            }
        }
    }
}

// For min 850px screen
@media (min-width: 850px) {
    .mainEventsCreate {
        margin-top: 0;

        .form {
            &__component {
                &__added {
                    ul {
                        li {
                            .category {
                                min-width: 215px;
                            }

                            .username {
                                padding: 1.15rem 3.5rem 1.15rem 3.5rem;
                            }

                            button {
                                top: 0.65rem;
                                right: 0.75rem;
                            }
                        }
                    }
                }
            }

            /* Final buttons in the form */
            .form__submit {
                display: flex;
                justify-content: flex-end;

                .button {
                    padding: 1rem 5.5rem;
                    width: fit-content;
                }
            }
        }
    }
}

// For min 1440px screen
@media (min-width: 1000px) {
    .mainEventsCreate{
        .form {
            &__container {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 0;
            }

            &__component {
                margin-bottom: 1.5rem;
                padding-right: 2rem;

                /* Form to create a new contact */
                .contact__new__form {
                    &__container {
                        .save, .cancel {
                            margin: 1.25rem 0 -0.5rem;
                        }
                    }
                }

                /* List of the contacts added to the event */
                &__added {
                    ul {
                        li {
                            .category {
                                min-width: 150px;
                            }

                            .username {
                                padding: 1rem 3.5rem 1rem 2.5rem;
                            }
                        }
                    }
                }
            }

            &__component:last-of-type {
                padding-left: 2rem;
                border-left: $border;
            }
        }
    }
}

// For min 1440px screen
@media (min-width: 1440px) {
    .mainEventsCreate {
        .form {
            &__component {
                margin-bottom: 1.5rem;
                padding: 2rem 2rem 1rem 1.5rem;

                .custom__dropdown {
                    .open-panel {
                        .close-button {
                            top: 0.65rem;
                            right: 1.5rem;
                            padding: 0.65rem;
                        }
                    }
                }

                /* Search list filter for contacts */
                .filter__contacts {
                    &__list {
                        padding: 0;
                        max-height: 300px;

                        &__item {
                            padding: 1rem 0.5rem 1rem 1.5rem;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-between;

                            .projectName {
                                min-width: 165px;
                                margin-right: 1.25rem;
                            }

                            .projectTasks {
                                width: 100%;
                                display: flex;
                                align-items: center;
                                gap: 0 1rem;
                                padding-right: 1rem;

                                .taskName:before {
                                    content: "|";
                                    margin-right: 0.25rem;
                                }

                                .taskName:first-of-type:before {
                                    content: "";
                                    margin-right: 0;
                                }
                            }

                            button {
                                margin-top: -0.5rem;
                                position: relative;
                                justify-self: flex-end;
                            }
                        }
                    }
                }

                .contact__new__form {
                    &__container {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        gap: 0.5rem 1.5rem;

                        &__label {
                            grid-column: 1/2;
                            min-width: 200px;
                        }

                        .position-right {
                            grid-column: 2/3;
                        }

                        .position-right:last-of-type {
                            border-bottom: 0;
                        }

                        .save, .cancel {
                            margin: 1.5rem 0 -0.5rem;
                        }
                    }
                }

                &__added {
                    ul {
                        li {
                            .category {
                                min-width: 175px;
                            }

                            .username {
                                padding: 1rem 3.5rem 1rem 2.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

// For min 1680px screen
@media (min-width: 1680px) {
    .mainEventsCreate {
        .form {
            &__component {
                min-width: 664px;
                padding-right: 4rem;
            }

            &__component:last-of-type {
                padding-left: 4rem;
            }
        }
    }
}
