/* List of events */

.events {

    $available : #e4c5c587;
    $current : #ebded7;
    $pause : #dae1e6;
    $finish : #D9EBED;
    $comingSoon : #D3E7F2;

    &__list {
        margin-top: 2rem;
    }

    .list {
        font-weight: 500;
        margin-bottom: 1.5rem;

        .item {
            margin-top: 1.5rem;
            padding: 2rem 3rem;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;
            border: $border;
            border-radius: 1.5rem;
            background-color: #D9EBED;

            &__name {
                grid-column: 1/4;
                margin-bottom: -0.5rem;
                font-size: 1.15rem;
            }

            &__date, &__time, &__members {
                span {
                    margin-top: 0.5rem;
                    display: inline;
                    font-weight: 400;
                }
            }

            &__members {
                margin-left: -2rem;
            }

            a {
                font-weight: 500;
                text-align: center;
            }

            .link {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 0 1rem;
                grid-column: span 3;

                &__edition {
                    margin-left: 1rem;
                    padding: 0.875rem 1.5rem;
                    color: $blue;
                    background-color: white;
                    border-radius: 0.75rem;

                    &:hover {
                        background-color: $gray-300;
                    }
                }

                &__current {
                    padding: 0.875rem 2rem;
                    border-radius: 1.5rem;
                    color: #b29280;
                    background-color: white;

                    &:hover {
                        background-color: $gray-100;
                    }
                }

                &__pause {
                    padding: 0.875rem 2rem;
                    border-radius: 1.5rem;
                    color: #6f8491;
                    background-color: white;

                    &:hover {
                        background-color: $gray-100;
                    }
                }

                &__finish {
                    padding: 0.875rem 2rem;
                    border-radius: 1.5rem;
                    color: #4f8f94;
                    background-color: white;

                    &:hover {
                        background-color: $gray-100;
                    }
                }

                &__available, &__unavailable {
                    padding: 0.875rem 1.5rem;
                    font-size: 0.875rem;
                    min-width: 155px;
                    text-align: center;
                    border-radius: 1.5rem;
                    color: $text-slate-500;
                    background-color: #F7F7FA;
                }

                &__available {
                    cursor: grab;
                    color: #c793a5;
                    background-color: white;
                    justify-content: center;
                    min-width: 145px;

                    &:hover {
                        background-color: $gray-100;
                    }
                }

                &__unavailable {
                    cursor: not-allowed;
                    min-width: 155px;
                }
            }
        }
    }

    /* nth-of-type ne convient pas ici */
    .list-available {
        .item {
            background-color: $available;
        }
    }
    .list-current {
        .item {
            background-color: $current;
        }
    }
    .list-pause {
        .item {
            background-color: $pause;
        }
    }
    .list-finish {
        .item {
            background-color: $finish;
        }
    }
    .list-comingSoon {
        .item {
            background-color: $comingSoon;
        }
    }

    .empty-event {
        margin: 0;
        padding: 1rem 1.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        border: $border;
        border-radius: 1rem;

        p, a {
            font-size: 1rem;
            font-weight: 500;
        }

        a {
            color: $blue;
            border-bottom: 1px solid $blue;
        }
    }

    .empty-event-start {
        margin: 1rem auto 2rem;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: $border;
        border-radius: 1.5rem;

        p, a {
            text-align: center;
            font-size: 1rem;
            font-weight: 500;
        }

        p {
            margin-bottom: 1.5rem;
        }

        a {
            color: $blue;
            border-bottom: 1px solid $blue;
        }
    }
}

// For 850px screen
@media (min-width: 850px) {
    .events {

        .list {
            .item {
                display: flex;
                justify-content: space-between;
                gap: 0;

                &__name {
                    margin: 0;
                    align-self: center;
                    font-size: 1.15rem;
                    min-width: 165px;
                    max-width: 165px;
                    // border-right: 1px solid rgba(63, 67, 83, .25);
                }

                &__date {
                    min-width: 165px;
                }

                &__date, &__time, &__members {
                    margin: 0;
                    border: none;

                    span, time {
                        display: inline-block;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}

// For 1680px screen
@media (min-width: 1680px) {
    .events {
        .list {
            .item {
                &__name, &__date, &__time, &__members {
                    margin-left: 2rem;
                    padding-right: 2.5rem;
                }

                &__edition, &__see, &__unavailable {
                    margin-left: 2rem;
                }

                &__name {
                    margin-left: 1rem;
                    font-size: 1.25rem;
                }
            }
        }
    }
}

// For max 950px screen
@media (max-width: 950px) {
    .mainEvents {

        .events .list {
            width: 100%;

            .item {
                position: relative;
                padding: 1.5rem 2.5rem 1rem;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 1rem 2.5rem;

                &__name {
                    margin-bottom: 0.5rem;
                }

                &__members, p {
                    margin: 0;
                }

                .menu {
                    position: absolute;
                    right: 1.5rem;
                    bottom: 1.5rem;
                }

                .event__actions {
                    margin-top: 1rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    align-items: start;
                    gap: 1rem;
                    width: 100%;

                    a {
                        margin: 0;
                    }
                }
            }
        }

        .events .empty {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 2rem;
        }
    }
}

.form__content {
    .event__actions__list {
        margin: 0 0 1.5rem;
        display: flex;
        flex-direction: column;

        &__item {
            font-size: 1rem;
            color: $blue-dark;
            padding-right: 1rem;

            &__title {
                text-transform: uppercase;
                font-size: 0.875rem;
                font-weight: 500;
                color: $blue-dark;
            }

            &__text {
                margin: 0.75rem 0;
                color: $text-slate-500;
            }

            &__subtitle {
                display: block;
                margin: 1.5rem 0 1rem;
                text-transform: uppercase;
                font-size: 0.875rem;
                font-weight: 500;
                color: $blue-dark;
            }

            &__info {
                margin-top: 0.5rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 0.5rem;
                font-size: 0.94rem;
                color: $text-slate-500;
                max-width: 345px;

                span {
                    color: $blue-dark;
                    font-weight: 500;
                }
            }
        }

        &__evaluators {

            &__text {
                max-width: 520px;
                font-size: 0.94rem;
                font-weight: 500;
                color: $red;

                svg {
                    position: relative;
                    top: 0.1rem;
                    margin-right: 0.2rem;
                    fill: $red;
                }
            }

            &__list {
                max-width: 515px;
                margin-top: 1rem;
                display: flex;
                align-items: center;
                justify-content: start;
                gap: 0.5rem;
                font-size: 0.94rem;
                color: $text-slate-500;

                span {
                    color: $blue-dark;
                    font-weight: 500;
                }
            }
        }
    }
}

// For min 950px screen
@media (min-width: 950px) {
    .mainEvents {
        .events .list {
            .item {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 1.5rem 1rem;

                &__name {
                    margin-bottom: 0.5rem;
                    grid-column: 1/2;
                }

                .menu {
                    position: relative;
                    right: 0;
                    bottom: 0;
                }

                .event__actions {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 0 2rem;
                    grid-column: 1/5;

                    a {
                        margin: 0;
                    }
                }
            }
        }

        .events .empty {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 3rem;
        }
    }
}

// For min 1440px screen
@media (min-width: 1440px) {
    .mainEvents {
        .events .list {
            .item {
                display: grid;
                grid-template-columns: repeat(4, 1fr) 3fr;
                align-items: center;
                gap: 1rem;

                &__name {
                    margin-bottom: 0;
                    margin-right: 3.5rem;
                    grid-column: 1/2;
                    overflow: scroll;
                    scrollbar-width: none;
                }

                &__name, &__date, &__time, &__members {
                    min-width: 172px;
                }

                .menu {
                    position: relative;
                    right: 0;
                    bottom: 0;
                }

                .event__actions {
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    gap: 0 2rem;
                    grid-column: 5/6;

                    a {
                        min-width: 80px;
                    }
                }
            }
        }

        .events .list3 {
            .item {

                &__name {
                    margin-right: 1.5rem;
                }

                .event__actions {
                    margin-left: -2rem;
                }
            }
        }
    }
}
