/* Show an event */
.mainEventShow {
    position: relative;

    @import "../../others/tables";

    .event__status {
        position: relative;
        padding: 0 0.75rem;
        top: -2rem;
        display: flex;
        align-items: center;
        gap: 1rem;

        label {
            font-size: 0.75rem;
            font-weight: 500;
            text-transform: uppercase;
            margin-right: -0.5rem;
        }

        select {
            padding: 0.65rem 3rem 0.65rem 1rem;
            background-color: $gray-100;
            border-radius: 0.75rem;
            text-indent: 0;
        }
    }

    /* First Table */
    .event__show {

        .first-table {
            margin-bottom: 4rem;
        }

        .row-1 {
            position: sticky;
            top: 0;
            left: 0;
            z-index: 4;

            th {
                position: relative;
                padding: 1.25rem;
                font-size: 0.75rem;
                font-weight: 500;
                text-transform: uppercase;
                border-radius: 1rem 1rem 0 0;
                background-color: $gray-500;
            }
        }

        .row-2 {
            position: sticky;
            top: 57px; // 57px = padding + text of .row-1
            z-index: 2;

            .category {
                position: sticky;
                top: 57px; // 57px = padding + text of .row-1
                left: 0;
                z-index: 3;
                min-width: 225px;
            }

            .jiris {
                text-align: center;
                padding: 1rem 2rem;
                min-width: 225px;
                z-index: 0;
            }
        }

        .row-3 {
            .students {
                position: sticky;
                left: 0;

                text-align: left;
                padding: 1.25rem 2rem 1.25rem 1.5rem;
                min-width: 225px;
                z-index: 1;
            }

            td {
                position: relative;
                width: 100%;

                label {
                    width: 0;
                    height: 4rem;

                    .input {
                        visibility: hidden;
                        width: 0;
                        height: 0;
                    }

                    svg {
                        position: absolute;
                        top: 30%;
                        left: 45%;
                    }
                }
            }
        }

        .first-table--footer {
            margin: -2rem 0 2rem;
            display: flex;
            justify-content: flex-end;
        }
    }

    /* Second Table */
    $width: 5.05rem; // width of .moy, .cg, .cga & .cd

    .event__show__results {
        img {
            display: inline-block;
            margin-right: 1rem;
            width: 1.75rem;
            height: 1.75rem;
            border-radius: 50%;
        }

        .title {
            font-size: 1rem;
            font-weight: 500;
            margin-bottom: 2rem;
        }

        .second-table {
            th:last-child {
                border-right: 1px solid $gray-500;
            }
        }

        .second-table--footer {
            margin: 2rem 0;
            display: flex;
            justify-content: flex-end;
        }

        .row-1, .row-2 {
            .category {
                padding-left: 2.5rem;
                min-width: 300px;
            }
        }

        .row-1 {

            th {
                background-color: #EAEBF0;
                position: relative;

                a {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .sticky {
                position: sticky;
                left: 0;
                top: 0;
                z-index: 3;
            }

            .sticky-small {
                position: sticky;
                left: 0;
                top: 0;
                z-index: 2;
                border-right: 1px solid #e7e7e7;
            }

            .jiris {
                min-width: 225px;
            }

            .moy, .cg, .cga, .cd {
                writing-mode: vertical-rl;
            }

            .moy, .cg, .cga, .cd {
                position: sticky;
                top: -0.2rem;
                left: 0;
                z-index: 3;

                padding: 4rem 1.25rem 1rem 1.75rem;
                vertical-align: bottom;
                writing-mode: sideways-lr;
                min-width: 2rem;
                max-width: 2.5rem;
            }

            .moy {
                right: calc($width*3);
                background-color: #D9EBED;
                border-left: $border;
            }
            .cg {
                right: calc($width*2);
                background-color: #D9DDED;
            }
            .cga {
                right: calc($width*1);
                background-color: #E5E6EB;
            }
            .cd {
                right: 0;
                background-color: #FFDDDD;
            }
        }

        .row-2 {
            th {
                background-color: $gray-300;
            }

            .sticky {
                position: sticky;
                left: 0;
                top: 3.6rem;
                z-index: 3;
            }

            .sticky-small {
                position: sticky;
                left: 0;
                top: 3.6rem;
                z-index: 2;
                min-width: 2rem;
            }

            .project, .category {
                padding: 4rem 1.25rem 4rem 2.5rem;
            }


            .project {
                padding: 1rem 1.25rem 1rem 1.75rem;
                vertical-align: bottom;
                writing-mode: sideways-lr;
            }
        }

        .row-3 {
            text-align: center;

            .sticky {
                position: sticky;
                left: 0;
                z-index: 2;
            }

            .moy, .cg, .cga, .cd {
                // sticky
                position: sticky;
                left: 0;
                z-index: 2;
                padding: 0.35rem;
            }

            .moy {
                right: calc($width*3);
                border-left: $border;
            }
            .cg {right: calc($width*2)}
            .cga {right: calc($width*1)}
            .cd {right: 0}

            /* List of students */
            .students {
                position: sticky;
                padding: 1.25rem 2.5rem;
                text-align: left;

                a {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    padding-left: 2rem;
                }
            }

            /* List of results */
            .results {
                padding: 1.25rem 0.75rem;
            }
        }
    }
}

@media (min-width: 625px) {
    .mainEventShow {
        .event__status {
            position: absolute;
            top: -5.25rem;
            left: 0;
            right: 2rem;
            justify-content: flex-end;
        }
    }
}

@media (min-width: 850px) {
    .mainEventShow {
        .event__status {
            top: -4.25rem;
        }
    }
}
