/* Profil of a student */
.mainProfil {
    padding: 2rem;

    @import "../../others/tables";

    &__intro {
        h3 {
            font-size: 1.25rem;
            font-weight: 600;
        }
        p {
           margin-top: 0.5rem;
        }
    }

    &__nav {
        margin: 1.5rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;

        select {
            padding: 0.75rem 3rem 0.75rem 1.5rem;
            font-size: 0.9rem;
            font-weight: 500;
            width: 100%;
            border-radius: 2rem;
            background-color: $gray-300;
        }
    }

    &__content {

        .sectionHeader {
            padding: 0.75rem 1.25rem 0.5rem 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: 1rem;
            font-size: 0.925rem;
            font-weight: 500;
            background-color: $gray-300;
            border-bottom: $border;

            button {
                font-size: 0.9rem;
                color: $blue;
                background-color: transparent;
                text-align: right;

                &:hover {
                    text-decoration: underline;
                    border: 1px solid transparent;
                }
            }
        }

        &__profil {
            margin-bottom: 2.5rem;
            background-color: $gray-bg;
            border: $border;
            border-radius: 1.5rem;
            overflow: hidden;

            &__form {
                padding: 2rem 2rem 1rem;
                display: flex;
                flex-direction: column;
                font-size: 0.925rem;

                &__photo {
                    margin: 0.5rem 0 2rem;

                    div {
                        position: relative;
                        width: max-content;
                        margin-bottom: 0.65rem;

                        img {
                            width: 100px;
                            height: 100px;
                            border-radius: 1rem;
                        }

                        span {
                            display: inline-block;
                            position: absolute;
                            bottom: -0.35rem;
                            right: -0.5rem;
                            padding: 0.5rem 0.55rem;
                            background-color: white;
                            border-radius: 2rem;

                           svg {
                               position: relative;
                               top: 0.05rem;
                               width: 0.85rem;
                               height: 0.85rem;
                           }
                        }
                    }

                    span {
                        display: block;
                        font-size: 0.75rem;
                    }
                }

                &__infos {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem 1rem;

                    .title {
                        font-size: 0.975rem;
                        font-weight: 500;
                    }

                    .text {
                        margin-bottom: 1rem;
                        padding: 0 0.25rem;
                        font-size: 0.925rem;
                        color: $text-slate-500;
                    }
                }
            }
        }

        .globalComment {
            margin-bottom: 2.5rem;
            border-radius: 1rem;
            overflow: hidden;
            border: $border;

            .form__field {
                margin: 0;
            }

            textarea {
                font-family: -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                border: none;
                resize: none;
                outline: none;
                padding: 1.15rem 1.35rem;
                width: 87.5%;
                letter-spacing: -0.01em;
                color: $text;
                background-color: $gray-bg;
            }
        }

        &__col2 {
            table {
                max-height: max-content;
                overflow-x: scroll;

                th, td {
                    text-transform: initial;
                }

                thead {
                    display: table;
                    width: 100%;
                    table-layout: fixed;
                    position: sticky;
                    top: 0;
                    left: 0;

                    th.user-infos {
                        position: relative;
                        border-right: none;
                        padding: 0.75rem 0;
                        background-color: $gray-300;

                        div {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 0.85rem;
                            font-weight: 500;

                            img {
                                width: 2rem;
                                height: 2rem;
                            }
                        }

                        a {
                            position: absolute;
                            top: 0;
                            right: 0;
                            padding: 1.15rem 1.5rem;
                            font-size: 0.9rem;
                            font-weight: 500;
                            color: $blue;
                            text-transform: initial;
                        }
                    }
                }

                tbody {

                    tr:nth-child(odd) {
                        th, td {
                            background-color: $gray-bg;
                        }
                    }

                    tr:nth-child(even) {
                        th, td {
                            background-color: $gray-300;
                        }
                    }

                    .project-list {
                        th {
                            padding: 1.25rem;
                            font-size: 0.75rem;
                            text-transform: uppercase;
                        }
                    }

                    .project-info {
                        td {
                            padding: 0.85rem 1.5rem;
                            text-transform: initial;
                            min-width: 300px;

                            p, li, a, span {
                                font-size: 0.85rem;
                            }

                            .title {
                                margin-bottom: 0.5rem;
                                font-weight: 500;
                            }

                            .link {
                                margin-top: -0.5rem;
                                padding: 0.5rem 0;
                                display: inline-block;
                                text-transform: lowercase;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }

                            ul {
                                display: flex;
                                align-items: center;
                                flex-wrap: wrap;
                                gap: 0 1rem;
                            }
                        }
                    }
                }
            }

            .jiriesComment {
                margin-bottom: 2rem;
                border-radius: 1rem;
                overflow: hidden;
                border: $border;

                .title {
                    padding: 1.25rem 1.75rem;
                    font-size: 0.85rem;
                    font-weight: 500;
                    background-color: $gray-300;
                    border-bottom: $border;
                }

                &__head {
                    position: relative;
                    padding: 0.75rem 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 0.85rem;
                    font-size: 0.875rem;
                    font-weight: 500;
                    border-bottom: $border;
                    background-color: #F0F1F7;

                    img {
                        width: 2rem;
                        height: 2rem;
                        border-radius: 3rem;
                    }
                }

                p.empty {
                    padding: 0.75rem 1rem;
                    font-size: 0.875rem;
                }

                .isSelected {
                    background-color: $gray-300;
                }

                &__list {
                    &__item {
                        border-bottom: $border;

                        &__infos {
                            padding: 1rem 2rem;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            cursor: pointer;

                            &__evaluator {
                                display: flex;
                                align-items: center;
                                gap: 0 1rem;

                                img {
                                    width: 2rem;
                                    height: 2rem;
                                    border-radius: 3rem;
                                }

                                span {
                                    font-size: 0.925rem;
                                    text-transform: capitalize;
                                }
                            }
                        }

                        &__commentList {
                            display: flex;
                            flex-direction: row;
                            border-top: $border;
                            overflow-x: scroll;

                            &__item {
                                min-width: 265px;

                                div {
                                    padding: 1.25rem;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    border-bottom: $border;
                                    font-size: 0.925rem;

                                    h4 {
                                        font-weight: 500;
                                    }
                                }

                                p {
                                    padding: 1.25rem 1.75rem 1.5rem 1.25rem;
                                }
                            }

                            li + li {
                                border-left: $border;
                            }
                        }

                        &:last-of-type {
                            border-bottom: none;
                        }
                    }
                }
            }

            .bilan {
                margin: 0 0 2rem 0;

                &__head {
                    position: relative;
                    padding: 0 1.5rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 0.9rem;
                    font-weight: 500;
                    border-right: none;
                    background-color: #F0F1F7;

                    a {
                        margin-right: -1rem;
                        padding: 1.375rem;
                        font-size: 0.9rem;
                        font-weight: 500;
                        color: #6386E3;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                tbody {
                    tr:nth-child(2n) {
                        th, td {
                            background-color: $gray-bg;
                        }
                    }

                    th, td {
                        padding: 1.15rem 1.5rem;
                    }

                    td {
                        text-align: center;
                        min-width: 110px;
                    }

                    td:last-child {
                        border-right: 1px solid $gray-500;
                    }

                    td.b-r {
                        border-right: none;
                    }
                }

                &__row {
                    &:first-of-type {
                        th {
                            padding: 1.15rem 2rem;
                            min-width: 125px;
                        }

                        .global, .final {
                            padding: 1.15rem 1.5rem;
                            min-width: 150px;
                            background-color: $gray-300;
                        }
                    }
                }
            }
        }
    }

    &__action {
        margin-top: 1.5rem;
        display: inline-flex;
        flex-direction: column;
        gap: 0.5rem;

        .title {
            margin: 0 1rem;
            text-align: left;
            font-size: 1rem;
            font-weight: 500;
        }
    }
}

// For 1440px screens @media
@media (min-width: 1440px) {
    .mainProfil {
        padding: 2rem 5rem;

        &__content {
            display: grid;
            grid-template-columns: 300px auto;
            gap: 0 2rem;

            &__profil {
                .globalComment {
                    margin-bottom: 0;
                }

                &__form {
                    &__container {
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        gap: 0;

                        input {
                            margin: 0.75rem 0 2rem;
                            width: 100%;
                        }
                    }
                }
            }

            &__col2 {
                table, .jiriesComment {
                    max-width: calc(90vw - 350px);
                }

                .bilan {
                    &__row {
                        .global {
                            position: sticky;
                            right: 195px;
                            border-left: 1px solid $gray-500;
                            z-index: 4;
                        }

                        .final {
                            position: sticky;
                            right: 0;
                        }

                        &__title {
                            position: sticky;
                            left: 0;
                            text-align: left;
                            min-width: 250px;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

// For 1650px screens @media
@media (min-width: 1750px) {
    .mainProfil {
        &__content {
            &__col1 {
                width: 300px;
            }

            &__col2 {
                table, .jiriesComment {
                    max-width: calc(95vw - 350px);
                }
            }
        }
    }
}
