/* Welcome Start Page */
.mainWelcome {
    .welcome {
        height: 100vh;
        width: 100%;

        p {
            max-width: 400px;
            text-align: center;
        }

        &__intro {
            margin: 5rem 0;
            padding: 0 2rem;

            img {
                width: 4rem;
                height: 4rem;
            }

            h2 {
                margin: 1.25rem 0 0.75rem;
            }
        }

        &__login {
            padding: 3rem;
            width: 100%;
            height: 100%;
            max-width: 1000px;
            background-color: $gray-300;
            border: $border;
            border-radius: 1.5rem;

            h2 {
                font-size: 1.5rem;
                font-weight: 600;
            }

            p {
                margin: 2rem 0 3rem;
            }

            .button--classic {
                padding: 0.8125rem 3rem;
            }
        }
    }
}

@media (min-width: 750px) {
    .mainWelcome {
        .welcome {
            &__login {
                padding: 2.5rem 3rem 2rem;
                max-width: 70vw;
                height: auto;

                p {
                    line-height: 1.5;
                }
            }
        }
    }
}

@media (min-width: 1440px) {
    .mainWelcome {
        .welcome {
            &__intro {
                margin: 8rem auto 6rem;
            }

            &__login {
                padding: 2.5rem;
                max-width: 875px;
            }
        }
    }
}
