/* Profil of a student */
.mainProfil {
    padding: 2rem 3rem;

    @import "../_tables.scss";

    &__intro {
        h3 {
            font-size: 1.25rem;
            font-weight: 600;
        }
        p {
           margin-top: 0.5rem;
        }
    }

    &__nav {
        margin: 1.5rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .button--gray {
            svg {
                margin-right: 0.5rem;
            }
        }

        .button--gray:last-child {
            padding-left: 1.5rem;

            svg {
                margin-right: 0;
                margin-left: 1rem;
            }
        }
    }

    &__content {

        .sectionHeader {
            padding: 1.15rem 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 0.925rem;
            font-weight: 500;
            background-color: $gray-300;
            border-bottom: $border;

            a {
                font-size: 0.85rem;
                color: $blue;
            }
        }

        &__profil {
            margin-bottom: 2.5rem;
            background-color: $gray-bg;
            border: $border;
            border-radius: 1rem;
            overflow: hidden;

            &__form {
                padding: 2rem 2rem 0;
                display: flex;
                flex-direction: column;
                font-size: 0.925rem;

                &__photo {
                    margin: 0.5rem 0 2rem;

                    div {
                        position: relative;
                        width: max-content;
                        margin-bottom: 0.65rem;

                        img {
                            width: 100px;
                            height: 100px;
                            border-radius: 1rem;
                        }

                        button {
                            position: absolute;
                            bottom: -0.5rem;
                            right: -0.5rem;
                            padding: 0.5rem;
                            background-color: white;
                            border-radius: 2rem;

                           svg {
                               width: 0.85rem;
                           }
                        }
                    }

                    span {
                        display: block;
                        font-size: 0.75rem;
                    }
                }

                &__container {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 1rem 1.5rem;

                    label {
                        margin-bottom: -0.5rem;
                        font-weight: 500;
                        grid-row: 1/2;
                    }

                    input {
                        padding: 0.5rem 0;
                        grid-row: 2/3;
                        background-color: transparent;
                    }

                    label[for="site"], label[for="github"] {
                        grid-row: 4/5;
                    }

                    input[name="site"], input[name="github"] {
                        grid-row: 5/6;
                    }

                    input[name="github"] {
                        grid-column: 2/4;
                    }
                }
            }
        }

        .globalComment {
            border-radius: 1rem;
            overflow: hidden;
            border: $border;

            textarea {
                resize: none;
                outline: none;
                padding: 1.35rem 1.5rem;
                width: 100%;
                background-color: $gray-bg;
            }
        }

        &__col2 {
            table {
                max-height: max-content;
                max-width: 900px;
                overflow-x: scroll;

                th, td {
                    text-transform: initial;
                }

                thead {
                    display: table;
                    width: 100%;
                    table-layout: fixed;
                    position: sticky;
                    top: 0;
                    left: 0;

                    th.user-infos {
                        position: relative;
                        border-right: none;
                        padding: 0.75rem 0;
                        background-color: $gray-300;

                        div {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 0.85rem;
                            font-weight: 500;

                            img {
                                width: 2rem;
                                height: 2rem;
                            }
                        }

                        a {
                            position: absolute;
                            top: 0;
                            right: 0;
                            padding: 1.15rem 1.5rem;
                            font-size: 0.85rem;
                            font-weight: 500;
                            color: $blue;
                            text-transform: initial;
                        }
                    }
                }

                tbody {

                    tr:nth-child(odd) {
                        th, td {
                            background-color: $gray-bg;
                        }
                    }

                    tr:nth-child(even) {
                        th, td {
                            background-color: $gray-300;
                        }
                    }

                    .project-list {
                        th {
                            padding: 1.25rem;
                            font-size: 0.75rem;
                            text-transform: uppercase;
                        }
                    }

                    .project-info {
                        td {
                            padding: 0.85rem 1.5rem;
                            text-transform: initial;
                            min-width: 300px;

                            p, li, a, span {
                                font-size: 0.85rem;
                            }

                            .title {
                                margin-bottom: 0.5rem;
                                font-weight: 500;
                            }

                            .link {
                                margin-top: -0.5rem;
                                padding: 0.5rem 0;
                                display: inline-block;
                                text-transform: lowercase;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }

                            ul {
                                display: flex;
                                align-items: center;
                                flex-wrap: wrap;
                                gap: 0 1rem;

                                li {

                                }
                            }
                        }
                    }
                }
            }

            .jiriesComment {
                margin-bottom: 2rem;
                border-radius: 1rem;
                overflow: hidden;
                border: $border;
                max-width: 900px;

                h4 {
                    padding: 1.25rem 1.75rem;
                    font-size: 0.85rem;
                    font-weight: 500;
                    background-color: $gray-300;
                    border-bottom: $border;
                }

                .isSelected {
                    background-color: $gray-300;
                }

                &__list {
                    &__item {
                        border-bottom: $border;

                        &__infos {
                            padding: 1rem 2rem;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            cursor: pointer;

                            &__evaluator {
                                display: flex;
                                align-items: center;
                                gap: 0 1rem;

                                img {
                                    width: 2rem;
                                    height: 2rem;
                                }

                                span {
                                    font-size: 0.925rem;
                                    text-transform: capitalize;
                                }
                            }
                        }

                        &__commentList {
                            display: flex;
                            flex-direction: row;
                            border-top: $border;
                            overflow-x: scroll;

                            &__item {
                                min-width: 265px;

                                div {
                                    padding: 1.25rem;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    border-bottom: $border;
                                    font-size: 0.925rem;

                                    h5 {
                                        font-weight: 500;
                                    }
                                }

                                p {
                                    padding: 1.25rem 1.75rem 1.5rem 1.25rem;
                                }
                            }

                            li + li {
                                border-left: $border;
                            }
                        }

                        &:last-of-type {
                            border-bottom: none;
                        }
                    }
                }
            }

            .bilan {
                margin: 0 0 2rem 0;

                &__head {
                    position: relative;
                    padding: 0 1.5rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-weight: 500;
                    border-right: none;
                    background-color: #F0F1F7;

                    a {
                        margin-right: -1rem;
                        padding: 1rem;
                        font-size: 0.85rem;
                        font-weight: 500;
                        color: #6386E3;
                    }
                }

                tbody {
                    tr:nth-child(2n) {
                        th, td {
                            background-color: $gray-bg;
                        }
                    }

                    th, td {
                        padding: 1.15rem 1.5rem;
                    }

                    td {
                        text-align: center;
                    }

                    td:last-child {
                        border-right: 1px solid $gray-500;
                    }

                    td.b-r {
                        border-right: none;
                    }
                }

                &__row {

                    &:first-of-type {
                        th {
                            padding: 1.15rem 2rem;
                            min-width: 125px;
                        }

                        .global, .final {
                            padding: 1.15rem 1.5rem;
                            min-width: 150px;
                            background-color: $gray-300;
                        }
                    }

                    .global {
                        position: sticky;
                        right: 150px;
                        border-left: 1px solid $gray-500;
                    }

                    .final {
                        position: sticky;
                        right: 0;
                    }

                    &__title {
                        position: sticky;
                        left: 0;
                        text-align: left;
                        min-width: 250px;
                        width: 100%;
                    }
                }
            }
        }
    }

    &__action {
        margin-top: 1.5rem;
        display: inline-flex;
        flex-direction: column;
        gap: 0.5rem;

        .title {
            margin: 0 1rem;
            text-align: left;
            font-size: 1rem;
            font-weight: 500;
        }
    }
}

// For 1440px screens @media
@media (min-width: 1440px) {
    .mainProfil {
        padding: 2rem 5rem;

        &__content {
            display: grid;
            grid-template-columns: 1fr 2.25fr;
            gap: 0 2rem;

            &__profil {
                &__form {
                    &__container {
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        gap: 0;

                        input {
                            margin: 0.75rem 0 2rem;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
