/* Profil of a student */
.mainProfil {
    padding: 2rem 3rem;

    @import "../_tables.scss";

    &__intro {
        h3 {
            font-size: 1.25rem;
            font-weight: 600;
        }
        p {
           margin-top: 0.5rem;
        }
    }

    &__nav {
        margin: 1.5rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .button--gray {
            svg {
                margin-right: 0.5rem;
            }
        }

        .button--gray:last-child {
            padding-left: 1.5rem;

            svg {
                margin-right: 0;
                margin-left: 1rem;
            }
        }
    }

    &__content {

        &__profil {
            margin-bottom: 2.5rem;
            background-color: $gray-bg;
            border: $border;
            border-radius: 1rem;
            overflow: hidden;

            &__header {
                padding: 1.15rem 2rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 0.925rem;
                font-weight: 500;
                background-color: $gray-300;
                border-bottom: $border;

                a {
                    font-size: 0.85rem;
                    color: $blue;
                }
            }

            &__form {
                padding: 2rem 2rem 2.5rem;
                display: flex;
                flex-direction: column;
                font-size: 0.925rem;

                &__photo {
                    margin: 0.5rem 0 2rem;

                    div {
                        position: relative;
                        width: max-content;
                        margin-bottom: 0.65rem;

                        img {
                            width: 100px;
                            height: 100px;
                            border-radius: 1rem;
                        }

                        button {
                            position: absolute;
                            bottom: -0.5rem;
                            right: -0.5rem;
                            padding: 0.5rem;
                            background-color: white;
                            border-radius: 2rem;

                           svg {
                               width: 0.85rem;
                           }
                        }
                    }

                    span {
                        display: block;
                        font-size: 0.75rem;
                    }
                }

                &__container {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 1rem 1.5rem;

                    label {
                        margin-bottom: 0;
                        font-weight: 500;
                        grid-row: 1/2;
                    }

                    input {
                        padding: 0.5rem 0.75rem 0.5rem;
                        grid-row: 2/3;
                    }

                    label[for="site"], label[for="github"] {
                        grid-row: 4/5;
                    }

                    input[name="site"], input[name="github"] {
                        grid-row: 5/6;
                    }

                    input[name="github"] {
                        grid-column: 2/4;
                    }
                }
            }
        }

        &__infos {
            table {
                max-height: max-content;
                max-width: 900px;
                overflow-x: scroll;

                thead {
                    display: table;
                    width: 100%;
                    table-layout: fixed;
                    position: sticky;
                    top: 0;
                    left: 0;

                    th.user-infos {
                        position: relative;
                        border-right: none;
                        padding: 0.75rem 0;
                        background-color: $gray-300;

                        div {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 0.85rem;
                            font-weight: 500;

                            img {
                                width: 2rem;
                                height: 2rem;
                            }
                        }

                        a {
                            position: absolute;
                            top: 0;
                            right: 0;
                            padding: 1.25rem 1.5rem;
                            font-size: 0.85rem;
                            font-weight: 500;
                            color: $blue;
                            text-transform: initial;
                        }
                    }
                }

                tbody {

                    tr:nth-child(odd) {
                        th, td {
                            background-color: $gray-bg;
                        }
                    }

                    tr:nth-child(even) {
                        th, td {
                            background-color: $gray-300;
                        }
                    }

                    .project-list {
                        th {
                            padding: 1.25rem;
                            font-size: 0.75rem;
                            text-transform: uppercase;
                        }
                    }

                    .project-info {
                        td {
                            padding: 0.85rem 1.5rem;
                            text-transform: initial;
                            min-width: 300px;

                            p, li, a, span {
                                font-size: 0.85rem;
                            }

                            .title {
                                margin-bottom: 0.5rem;
                                font-weight: 500;
                            }

                            .link {
                                margin-top: -0.5rem;
                                padding: 0.5rem 0;
                                display: inline-block;
                                text-transform: lowercase;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }

                            ul {
                                display: flex;
                                align-items: center;
                                flex-wrap: wrap;
                                gap: 0 1rem;

                                li {

                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &__action {
        margin-top: 1.5rem;
        display: inline-flex;
        flex-direction: column;
        gap: 0.5rem;

        .title {
            margin: 0 1rem;
            text-align: left;
            font-size: 1rem;
            font-weight: 500;
        }
    }
}

// For 1440px screens @media
@media (min-width: 1440px) {
    .mainProfil {
        padding: 2rem 5rem;

        &__content {
            display: grid;
            grid-template-columns: 1fr 2.25fr;
            gap: 0 2rem;

            &__profil {
                &__form {
                    &__container {
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        gap: 0;

                        input {
                            margin: 0.75rem 0 2rem;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
