/* Inputs */

input, textarea, select {
    margin: 0;
    padding: 0;
    border: $border;
    border-radius: 0.5rem;
    background-color: white;
    max-width: 1600px;
}

select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: right .5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    text-indent: 1px;
    text-overflow: '';
    -moz-appearance: none;
    -webkit-appearance: none;
}


label.search {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 2rem;
    background-color: $gray-bg;

    input {
        max-width: 1800px;
        width: 100%;
        padding: 0.75rem 3.5rem 0.75rem;
        font-size: 1rem;
        border-radius: 2rem;
        background-color: $gray-bg;
    }

    svg {
        position: absolute;
        left: 1.5rem;
    }

    &:focus-within {
        border: $border-focus;
    }
}

.import {
    padding: 0.75rem 1.5rem;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    color: $blue-dark;
    background-color: transparent;
    border: $border;

    &:hover {
        background-color: white;
    }

    svg {
        margin-right: 0.5rem;
        fill: #666B7E;
    }

    span {
        font-size: 0.875rem;
        font-weight: 600;
        min-width: 200px;
    }
}

label {
    select {
        padding: 0.5rem 2.5rem 0.5rem 1rem;
    }
}
