/* Table Layout */

table {
    scrollbar-width: none;
    scrollbar-color: transparent transparent;

    display: block;
    width: 100%;
    max-width: 100%;
    max-height: 525px;
    border-spacing: 0;
    border-radius: 1.5rem;
    border-collapse: separate;
    border: 1px solid $gray-500;
    overflow: auto;

    thead {
        display: table-header-group;
    }

    tbody {
        display: table-row-group;

        tr:last-of-type {
            td, th {
                border-bottom: none;
            }
        }
    }

    tr {
        display: table-row;
    }

    th, td {
        display: table-cell;
        font-size: 0.85rem;
        font-weight: 400;
        text-transform: capitalize;
        background-color: $gray-bg;
    }

    th {
        border-bottom: 1px solid $gray-500;
        border-right: 1px solid $gray-500;
    }

    td {
        padding: 1rem;
        border-bottom: 1px solid $gray-500;
        border-right: 1px solid $gray-500;
    }

    th:last-child, td:last-child {
        border-right: none;
    }

    .empty {
        padding: 1rem;
        display: flex;
        align-items: center;
        width: 100%;

        span {
            margin-left: 0.65rem;
            font-size: 0.95rem;
        }
    }

    .category {
        text-align: left;
        padding: 1rem 1.5rem;
        font-size: 0.8rem;
        font-weight: 500;
        text-transform: uppercase;
        min-width: 200px;
    }

    .b-b {
        border-bottom: none;
    }

    .b-r {
        border-right: none;
    }
}
