/* Margin */

.m-0 {
  margin: 0;
}

.m-0-auto {
  margin: 0 auto;
}

/* Padding */

.p-0 {
  padding: 0;
}

.p-main {
  padding: 1rem;
}

@media (min-width: $bp-medium) {
    .p-main {
        padding: 0 1.5rem;
    }
}

@media (min-width: $bp-xlarge) {
    .p-main {
        padding: 0 2rem;
    }
}
