/* Margin */

.m-0 {
  margin: 0;
}

.m-0-auto {
  margin: 0 auto;
}

/* Padding */

.p-0 {
  padding: 0;
}

.p-main, .header {
  padding: 1rem 1.5rem;
}

@media (min-width: $bp-small) {
    .p-main, .header {
        padding: 1rem 1.5rem;
    }
}

@media (min-width: $bp-medium) {
    .p-main, .header {
        padding: 1rem 2rem;
    }
}

@media (min-width: $bp-xlarge) {
    .p-main, .header {
        padding: 1rem 2.5rem;
    }
}

// For min 1920px screen
@media (min-width: 1920px) {
    .p-main, .header {
        padding: 0.5rem 3.5rem;
    }
}
