/* Basic styles */
body {
    margin: 0 auto;
    max-width: 2500px;
    font-size: 16px;
    line-height: 1.35;
    color: $text;
    background-color: $gray-bg;

    main {
        margin: 0 auto;
        padding: 0;
        min-height: 85vh;
        width: 100%;
    }

    h2 {
        font-size: 1.25rem;
        font-weight: 600;
    }

    p {
        font-size: 1rem;
        font-weight: 400;
    }

    img {
        max-width: 100%;
        width: 3rem;
        height: auto;
        object-fit: cover;
        border-radius: 50%;
    }

    svg {
        width: 1rem;
    }

    input, textarea, select, button {
        border-radius: 0.5rem;
    }

    a {
        font-size: 0.875rem;
        text-decoration: none;
    }

    .button--classic {
        border-radius: 0.75rem;
        background-color: $gray-700;
        padding: 0.75rem 1rem;
        font-size: 0.875rem;
        font-weight: 500;
        color: $blue;
    }

    .button--gray {
        padding: 0.85rem 1.25rem;
        display: flex;
        border-radius: 2rem;
        background-color: $gray-300;
        font-size: 0.875rem;
        font-weight: 500;
        color: $blue-dark;
    }

    .flex-center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .error-message {
        margin-top: 0.5rem;
        display: inline-block;
        font-size: 0.75rem;
        text-transform: initial;
        color: red;
    }

    .rotate-180 {
        transform: rotate(180deg);
    }

    .modal {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.825);
        z-index: 10;

        &__dialog {
            background: $gray-700;
            border-radius: 1rem;
            padding: 1.25rem 2rem;
            max-width: 400px;
            text-align: center;
        }

        &__title {
            font-size: 1.25rem;
            font-weight: 500;
            margin-bottom: 1.5rem;
        }

        select {
            width: 90%;
            margin-bottom: 2.5rem;
        }

        &__buttons {
            display: flex;
            justify-content: space-around;

            button {
                padding: 0.5rem 1rem;
                font-weight: 500;
                color: white;
            }

            .cancel-button {
                background: $blue-dark;
            }

            .confirm-button {
                background: $blue;
            }
        }
    }

    table {
        .empty {
            padding: 1rem;
            display: flex;
            align-items: center;
            width: 100%;

            span {
                margin-left: 0.65rem;
                font-size: 0.95rem;
            }
        }
    }

    footer {
        padding: 1.75rem;
        color: #666B7E;
        background-color: $gray-300;
        border-radius: 1.5rem 1.5rem 0 0;

        p {
            text-align: center;
            font-size: 0.875rem;
        }
    }
}

@media (min-width: 650px) {
    body {
        min-width: 650px;
    }
}
