/* Variables */

/*----------- colors -----------*/
$blue: #6386E3;

/*------- gray variants -------*/
$gray-bg: #F7F7FA; // background
$gray-300: #F0F1F7; // footer
$gray-500: #E5E9F4;
$gray-700: #E7EAF6;
$gray-900: #F0F1F7;

/*----------- text -----------*/
$text: #3F4353;

/*---------- borders ----------*/
$border: 1px solid #E6EAF4;
