/* Create/Edit an event */
.mainEventsCreate {
    padding: 3.5rem 5rem;

    .events__intro {
        margin-bottom: 3rem;
    }

    .events__create {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: start;

        .form {
            margin-bottom: 1.5rem;
            padding: 2rem 3rem 1.5rem;
            background-color: $gray-300;
            border-radius: 2rem;

            &__infos {
                position: relative;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 0 2rem;
                padding-bottom: 2rem;
                border-bottom: $border;
                grid-template-areas:
                    ". . ."
                    ". . ."
                    "error1 error2 error3";

                .error1 {grid-area: error1;}
                .error2 {grid-area: error2;}
                .error3 {grid-area: error3;}

                label {
                    margin-bottom: 1rem;
                }

                input {
                    padding: 1rem;
                    border-radius: 0.5rem;
                    min-width: 250px;
                }

                input[type="number"] {
                    min-width: 145px;
                    max-width: 150px;
                }

                .error-message {
                    margin-bottom: 1.25rem;
                }
            }

            &__container {
                display: flex;
                flex-direction: column;
            }

            &__component {
                padding: 2rem 4rem 1.5rem 0;
                min-width: 600px;
                border-bottom: $border;

                .button--classic {
                    border-radius: 0 0 0.5rem 0.5rem;
                }

                h4 {
                    font-weight: 600;
                    margin-bottom: 0.75rem;
                }

                &__added {
                    p {
                        margin-bottom: 1rem;
                    }

                    ul {
                        li {
                            position: relative;
                            display: grid;
                            grid-template-columns: 175px 1fr;
                            align-items: center;
                            margin-bottom: 0.75rem;

                            .category {
                                padding: 1rem 1.25rem;
                                background-color: $gray-500;
                                border-radius: 0.5rem;
                                z-index: 2;
                            }

                            .username {
                                margin-left: -0.5rem;
                                padding: 1rem 2.5rem;
                                background-color: white;
                                border-radius: 0 0.5rem 0.5rem 0;
                            }

                            button {
                                position: absolute;
                                top: 0.5rem;
                                right: 1.5rem;
                                padding: 0.5rem;
                            }
                        }
                    }
                }

                .no-contact {
                    margin: 0.5rem 0;
                    padding: 1rem 1.25rem;
                    border-radius: 0.5rem;
                    background-color: $gray-500;
                }
            }

            &__component:last-of-type {
                margin-bottom: 1.5rem;
            }

            .form__submit {
                display: flex;
                justify-content: flex-end;
                align-items: center;

                .button {
                    padding: 1rem 5.5rem;
                    border-radius: 0.5rem;
                    background-color: white;
                }

                .button--classic {
                    background-color: $gray-700;
                    margin-left: 2rem;
                }
            }

            /* Filter contact */
            .filter__contacts {
                min-width: fit-content;
                background-color: white;
                border-radius: 1rem;
                border: $border;

                &__input {
                    padding: 0.875rem;
                    width: 100%;
                    border-bottom: $border;
                    border-radius: 1rem 1rem 0 0;
                }

                &__list {
                    padding: 0;
                    max-height: 275px;
                    overflow-y: scroll;

                    &__item {
                        padding: 1rem;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        span {

                        }

                        button {
                            padding-left: 1rem;
                            color: $blue;
                            text-decoration: underline;
                        }
                    }
                }

                .no-contact {
                    margin: 0;
                    padding: 1rem 0.75rem;
                    background-color: white;
                    border-radius: 0;
                    border: none;
                }
            }

            .contact__new__form {
                padding: 1.5rem;
                background-color: $gray-500;
                border-radius: 0 0 1rem 1rem;

                p {
                    font-weight: 600;
                    text-decoration: underline;
                    margin-bottom: 1.25rem;
                }

                &__container {
                    display: grid;
                    grid-template-columns: 250px 1fr;
                    gap: 0 1.5rem;

                    &__label {
                        display: flex;
                        flex-direction: column;

                        select {
                            margin-top: 0.875rem;
                            margin-bottom: 1.25rem;
                            padding: 0.875rem;
                            background-color: white;
                        }
                    }

                    input {
                        margin-top: 0.875rem;
                        margin-bottom: 1.25rem;
                        padding: 0.875rem 0.75rem;
                        background-color: white;
                        min-width: 200px;
                    }

                    .position-right {
                        display: flex;
                        flex-direction: column;
                        grid-column: 2/3;
                    }

                    button {
                        margin-top: 0.5rem;
                        padding: 0.75rem 1.5rem;
                        border-radius: 0.5rem;
                        background-color: transparent;
                        text-decoration: underline;
                    }

                    button + button {
                        &:hover {
                            background-color: $gray-bg;
                        }

                        text-decoration: none;
                        background-color: white;
                    }

                    .error-message {
                        margin: -0.75rem 0 1.5rem 0.5rem;
                    }

                    .success-message {
                        grid-column: 1/3;

                        p {
                            margin: 2rem 0 0;
                            padding: 1rem;
                            font-weight: 500;
                            text-align: center;
                            color: green;
                            border-radius: 0.5rem;
                            text-decoration: none;
                            background-color: white;
                        }
                    }

                    .project-tasks {
                        label {
                            display: block;
                        }
                        select {
                            margin-top: 0.875rem;
                            margin-bottom: 1.25rem;
                            padding: 0.875rem;
                            background-color: white;
                        }
                    }

                    .project-task {
                        grid-column: 1/3;

                        label {
                            display: block;
                        }

                        button {
                            padding: 0.75rem 1.5rem;
                            color: $blue;
                            text-decoration: underline;
                        }
                    }
                }
            }

            .add-button {
                padding: 1rem;
            }
        }
    }
}

// For 1440px screen
@media (min-width: 1440px) {
    .mainEventsCreate{
        .events__create {
            .form {
                &__infos {
                    grid-template-columns: repeat(3, 315px);
                }

                &__container {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 0;
                }

                &__component {
                    margin-bottom: 1.5rem;
                    padding-right: 2rem;
                }

                &__component:last-of-type {
                    padding-left: 2rem;
                    border-left: $border;
                }

                .contact__new__form__container {
                    display: grid;
                    grid-template-columns: 225px 1fr;
                    gap: 0 1.5rem;
                }
            }
        }
    }
}

// For 1680px screen
@media (min-width: 1680px) {
    .mainEventsCreate {
        padding: 4rem 8rem;

        .events__intro {
            margin-bottom: 4rem;
        }

        .events__create {
            .form {
                &__component {
                    min-width: 664px;
                    padding-right: 4rem;
                }

                &__component:last-of-type {
                    padding-left: 4rem;
                }
            }
        }
    }
}

/* Dropdown styles */
.custom__dropdown {
    position: relative;

    .open-button {
        margin: 1.5rem 0 1.75rem;
        padding: 1rem;
        width: 18rem;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .icon {
        height: 1.25rem;
        width: 1.25rem;
        fill: #718096;
    }

    .panel {
        margin-bottom: 2rem;
        width: 100%;
        background-color: white;
        border-radius: 1rem;

        .close-button {
            position: absolute;
            top: 0.5rem;
            right: 1rem;
            background-color: $gray-500;
            border-radius: 2rem;
            padding: 0.85rem;
        }

        .add-button {
            @extend .button--classic;
            width: 100%;
            border-radius: 0 0 0.75rem 0.75rem;
        }
    }
}

/* User List styles */
.user__list {
    .input {
        margin-bottom: 0.15rem;
        padding: 0.75rem;
        width: 100%;
        border-radius: 0.5rem;
    }

    .item {
        padding: 1rem;
        margin-top: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .item:last-of-type {
        margin-bottom: 0.5rem;
    }

    .link {
        color: $blue;
        &:hover {
            text-decoration: underline;
        }
    }
}
