/* Create an event */
.mainEventsCreate {
    padding: 3.5rem 5rem;

    .events__intro {
        margin-bottom: 3rem;
    }

    .events__create {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: start;

        .form {
            margin-bottom: 1.5rem;
            padding: 2rem 3rem 1.5rem;
            background-color: $gray-300;
            border-radius: 2rem;

            &__infos {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 0 2rem;
                padding-bottom: 2rem;
                border-bottom: $border;

                p {
                    grid-column: span 2;
                }

                label {
                    display: block;
                    margin-bottom: 1rem;
                }

                input {
                    padding: 1rem;
                    border-radius: 0.5rem;
                }

                input:last-of-type {
                    grid-row: 2/3;
                    grid-column: 3/4;
                }
            }

            &__container {
                display: flex;
                flex-direction: column;
            }

            &__component {
                padding: 2rem 4rem 1.5rem 0;
                min-width: 600px;
                border-bottom: $border;

                h4 {
                    font-weight: 600;
                    margin-bottom: 0.75rem;
                }

                select {
                    margin: 1.5rem 0 2rem;
                    padding: 1rem 1.25rem;
                    width: 300px;
                }

                &__added {
                    p {
                        margin-bottom: 1rem;
                    }

                    ul {
                        li {
                            position: relative;
                            display: grid;
                            grid-template-columns: 175px 1fr;
                            align-items: center;
                            margin-bottom: 0.75rem;

                            .category {
                                padding: 1rem 1.25rem;
                                background-color: $gray-500;
                                border-radius: 0.5rem;
                                z-index: 2;
                            }

                            .username {
                                margin-left: -0.5rem;
                                padding: 1rem 2.5rem;
                                background-color: white;
                                border-radius: 0 0.5rem 0.5rem 0;
                            }

                            button {
                                position: absolute;
                                top: 0.5rem;
                                right: 1.5rem;
                                padding: 0.5rem;
                            }
                        }
                    }
                }
            }

            &__component:last-of-type {
                margin-bottom: 1.5rem;
            }

            .form__submit {
                display: flex;
                justify-content: flex-end;
                align-items: center;

                button {
                    background-color: white;
                    padding: 1rem 5.5rem;
                }

                .button--classic {
                    background-color: $gray-700;
                    margin-left: 2rem;
                }
            }
        }
    }
}

// For 1440px screen
@media (min-width: 1440px) {
    .mainEventsCreate{

        .events__create {
            .form {
                &__infos {
                    grid-template-columns: repeat(3, 315px);
                }

                &__container {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 0;
                }

                &__component {
                    margin-bottom: 1.5rem;
                    padding-right: 2rem;
                }

                &__component:last-of-type {
                    padding-left: 2rem;
                    border-left: $border;
                }
            }
        }
    }
}

// For 1680px screen
@media (min-width: 1680px) {
    .mainEventsCreate {
        padding: 4rem 8rem;

        .events__intro {
            margin-bottom: 4rem;
        }

        .events__create {
            .form {
                &__component {
                    min-width: 664px;
                    padding-right: 4rem;
                }

                &__component:last-of-type {
                    padding-left: 4rem;
                }
            }
        }
    }
}
