/* Show an event */
.mainEventShow {
    padding: 2rem;

    .events__intro {
        margin-bottom: 2.5rem;
        padding: 0 1rem;
    }

    .event__show {

        .fullscreen {
            margin: 0 auto;
            padding: 6rem;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($gray-900, 0.75);
            z-index: 10;

            table {
                margin: 0 auto;
                max-width: max-content;
                max-height: max-content;
            }
        }

        button.close {
            position: absolute;
            top: 2rem;
            right: 6.5rem;
            z-index: 11;
        }

        table {
            display: block;
            max-width: 951px;
            max-height: 525px;
            border-spacing: 0;
            border-radius: 1.5rem;
            border-collapse: separate;
            border: 1px solid $gray-500;
            overflow-x: auto;

            th, td {
                background-color: $gray-bg;
            }

            th {
                border-bottom: 1px solid $gray-500;
                border-right: 1px solid $gray-500;
            }

            td {
                border-bottom: 1px solid $gray-500;
                border-right: 1px solid $gray-500;
            }

            th:last-child, td:last-child {
                border-right: none;
            }
        }

        .row-1 {
            th {
                position: sticky;
                top: 0;
                left: 0;
                z-index: 2;

                padding: 1.25rem;
                font-size: 0.75rem;
                font-weight: 500;
                text-transform: uppercase;
                border-radius: 1rem 1rem 0 0;
                background-color: $gray-500;
            }
        }

        .row-2 {
            position: sticky;
            top: 57px; // 57px = padding + text of .row-1
            z-index: 2;

            .category {
                position: sticky;
                top: 57px; // 57px = padding + text of .row-1
                left: 0;

                text-align: left;
                padding: 1rem 1.5rem;
                font-size: 0.8rem;
                font-weight: 500;
                text-transform: uppercase;
                min-width: 200px;
            }

            .jiris {
                text-align: center;
                padding: 1rem 2rem;
                min-width: 150px;
                z-index: 0;
            }
        }

        tbody {
            .students {
                position: sticky;
                left: 0;

                text-align: left;
                padding: 1.25rem 2rem 1.25rem 1.5rem;
                min-width: 200px;
                z-index: 1;
            }

            td {
                position: relative;

                label {
                    width: 0;
                    height: 4rem;

                    .input {
                        visibility: hidden;
                        width: 0;
                        height: 0;
                    }

                    svg {
                        position: absolute;
                        top: 30%;
                        left: 45%;
                    }
                }
            }


            tr:last-child {
                th, td {
                    border-bottom: none;
                }
            }
        }

        .jiris, .students {
            font-size: 0.85rem;
            font-weight: 400;
            text-transform: capitalize;
        }

        .button__right {
            margin-top: 1.25rem;
            margin-right: 1.25rem;
            display: flex;
            justify-content: flex-end;
        }
    }
}


