/* Show an event */
.mainEventShow {
    padding: 2rem;

    .events__intro {
        margin-bottom: 2.5rem;
        padding: 0 1rem;
    }

    @import "../tables";

    /* First Table */
    .event__show {
        .fullscreen {
            margin: 0 auto;
            padding: 6rem;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($gray-900, 0.75);
            z-index: 10;

            table {
                max-width: max-content;
                max-height: max-content;
            }
        }

        button.close {
            position: absolute;
            top: 2rem;
            right: 6.5rem;
            z-index: 11;
        }

        .row-1 {
            th {
                position: sticky;
                top: 0;
                left: 0;
                z-index: 2;

                padding: 1.25rem;
                font-size: 0.75rem;
                font-weight: 500;
                text-transform: uppercase;
                border-radius: 1rem 1rem 0 0;
                background-color: $gray-500;
            }
        }

        .row-2 {
            position: sticky;
            top: 57px; // 57px = padding + text of .row-1
            z-index: 2;

            .category {
                position: sticky;
                top: 57px; // 57px = padding + text of .row-1
                left: 0;
            }

            .jiris {
                text-align: center;
                padding: 1rem 2rem;
                min-width: 150px;
                z-index: 0;
            }
        }

        .row-3 {
            .students {
                position: sticky;
                left: 0;

                text-align: left;
                padding: 1.25rem 2rem 1.25rem 1.5rem;
                min-width: 200px;
                z-index: 1;
            }

            td {
                position: relative;

                label {
                    width: 0;
                    height: 4rem;

                    .input {
                        visibility: hidden;
                        width: 0;
                        height: 0;
                    }

                    svg {
                        position: absolute;
                        top: 30%;
                        left: 45%;
                    }
                }
            }
        }

        .button__right {
            margin-top: 1.25rem;
            margin-right: 1.25rem;
            display: flex;
            justify-content: flex-end;
        }
    }

    /* Second Table */

    $width: 4.5rem; // width of .moy, .cg, .cga & .cd

    .event__show__results {
        img {
            display: inline-block;
            margin-right: 1rem;

            width: 1.75rem;
            height: 1.75rem;
            border-radius: 50%;
        }

        h3 {
            font-size: 1rem;
            font-weight: 500;
            margin-bottom: 2rem;
        }

        table {
            th:last-child {
                border-right: 1px solid $gray-500;
            }
        }

        .row-1, .row-2 {
            .category {
                padding-left: 2.5rem;
                min-width: 300px;
            }
        }

        .row-1 {

            th {
                background-color: #EAEBF0;
            }

            .sticky {
                position: sticky;
                left: 0;
                top: 0;
                z-index: 3;
            }

            .sticky-small {
                position: sticky;
                left: 0;
                top: 0;
                z-index: 2;
            }

            .jiris {
                min-width: 225px;
            }

            .moy, .cg, .cga, .cd {
                // sticky
                position: sticky;
                left: 0;
                top: 0;
                z-index: 3;

                padding: 4rem 1.25rem 1rem 1.75rem;
                vertical-align: bottom;
                writing-mode: sideways-lr;
                min-width: 4.5rem;
            }

            .moy {
                right: calc($width*3);
                background-color: #D9EBED;
            }
            .cg {
                right: calc($width*2);
                background-color: #D9DDED;
            }
            .cga {
                right: calc($width*1);
                background-color: #E5E6EB;
            }
            .cd {
                right: 0;
                background-color: #FFDDDD;
            }
        }

        .row-2 {
            th {
                background-color: $gray-300;
            }

            .sticky {
                position: sticky;
                left: 0;
                top: 4rem;
                z-index: 3;
            }

            .sticky-small {
                position: sticky;
                left: 0;
                top: 4rem;
                z-index: 2;
            }

            .project, .category {
                padding: 4rem 1.25rem 4rem 2.5rem;
            }


            .project {
                padding: 1rem 1.25rem 1rem 1.75rem;
                vertical-align: bottom;
                writing-mode: sideways-lr;
            }
        }

        .row-3 {
            text-align: center;

            .sticky {
                position: sticky;
                left: 0;
                z-index: 2;
            }

            .moy, .cg, .cga, .cd {
                // sticky
                position: sticky;
                left: 0;
                z-index: 2;
            }

            .moy {right: calc($width*3)}
            .cg {right: calc($width*2)}
            .cga {right: calc($width*1)}
            .cd {right: 0}

            /* List of students */
            .students {
                text-align: left;
                padding: 1.25rem 2.5rem;
            }

            /* List of results */
            .results {
                padding: 1.25rem;
            }
        }
    }
}

// media for 1050px screen
@media (min-width: 1050px) {
    .mainEventShow {
        max-width: 1800px;
        margin: 0 auto;

        .event__show, .event__show__results {
            table {
                max-width: max-content;
                max-height: max-content;
            }
        }
    }
}

@media (min-width: 1200px) {
    .mainEventShow {
        .event__show {
            table {
               .row-1 {
                   th {
                       column-span: all;
                   }
               }
            }
        }
    }
}

@media (min-width: 1600px) {
    .mainEventShow {
        .event__show, .event__show__results {
            margin-bottom: 4rem;

            .button__right {
                .button--classic {
                    display: none;
                }
            }
        }
    }
}
