/* Profil admin */
.profile-admin {
    padding: 0 1rem;
    margin-top: 0.5rem;
    max-width: 80rem;

    &__section {
        padding: 1rem;
        max-width: 36rem;
        margin: 1rem 0;

        &__title {
            font-size: 1.25rem;
            font-weight: 500;
            margin-bottom: 1rem;
        }

        &__text {
            margin-bottom: 1rem;
            font-size: 1rem;
            font-weight: 400;
        }

        .form {
            &__footer {
                margin-top: 1.25rem;
                justify-content: flex-start;
            }
        }

        &__form {
            .form__field__password svg {
                position: absolute;
                top: -2rem;
                right: 0;
            }
        }

        button {
            &:hover {
                border: $transparent;
                filter: brightness(1.05);
            }
        }
    }
}

@media (min-width: 500px) {
    .profile-admin {
        &__section {
            &__form {
                .form__field__password svg {
                    top: -2.15rem;
                    right: 1rem;
                }
            }
        }
    }
}

@media (min-width: $bp-medium) {
    .profile-admin {
        margin: 0 auto;
        padding: 0 2rem;
    }
}
